<form [formGroup]="form">
	<div class="form-group">
		<label for="username">Username</label>
		<input
        formControlName="userName"
        id="username"
        type="text"
        class="form-control">
    <div 
        class="alert alert-danger"
        *ngIf="userName.touched && userName.invalid">
        <div *ngIf="userName.errors.required">Username is required</div>
        <div *ngIf="userName.errors.minLength">
          Username should be minimum {{ userName.errors.minLength.requiredLength }} characters
        </div>
    </div>
    </div>
		<div class="form-group">
			<label for="password">Password</label>
			<input
          formControlName="password"
          id="password"
          type="text"
          class="form-control">
    </div>
			<button class="btn btn-primary" type="submit">Sign Up</button>
</form>